{% extends "layout.html" %}
{% block content %}
<div class="contentTitle">
    <h1>About GATE</a></h1>
</div>
<div style="margin-left: 0px; width: 950px;" class="contentText">
    <p align="justify">Graduate Aptitude Test in Engineering (GATE) is basically an examination on the comprehensive understanding of the candidates in various undergraduate subjects in Engineering/Technology/ Architecture and post-graduate level subjects in Science. GATE 2020 will be conducted for 25 subjects (also referred to as “papers”) and it would be distributed over 1st, 2nd, 8th & 9th of February 2020. The GATE examination centres are spread in different cities across India, as well as, in six cities outside India. The examination would be purely a Computer Based Test (CBT). <br /><br />The GATE score would reflect the relative performance level of the candidate in a particular subject, which is quantified based on the several years of examination data. Note that the GATE 2020 score is valid for <strong>THREE YEARS</strong> from the date of announcement of the results.</p>
</div>
{% endblock content %}

