{% extends "layout.html" %}
{% block content %}
<div class="contentTitle">
    <h1>Contact Us</h1>
</div>
<div style="margin-left: 0px; width: 950px;" class="contentText">
    <br /><br />
    <table id="gateTable" width="95%">
        <tr>
            <th><p><strong>Zone</strong></p></td>
            <th>
                <strong>
                    Contact Address
                    </p>
                </strong></td>
            <th>
                <strong>
                    Phone Number
                    </p>
                </strong></td>
            <th>
                <strong>
                    e-mail Id
                    </p>
                </strong></td>
        </tr>
        <tr>
            <td><p>1</p></td>
            <td>
                <p>
                    Chairman, GATE<br />
                    Indian Institute of Science,<br />
                    Bengaluru 560 012
                </p>
            </td>
            <td>
                080-22932392<br />
                080-23601227</p>
            </td>
            <td>gate@gate.iisc.ac.in</p></td>
        </tr>
        <tr>
            <td><p>2</p></td>
            <td>
                <p>
                    Chairman, GATE<br />
                    Indian Institute of Technology Bombay, <br />Powai, Mumbai 400 076
                </p>
            </td>
            <td>022-25767068</p></td>
            <td>gateoffice@iitb.ac.in</p></td>
        </tr>
        <tr>
            <td><p>3</p></td>
            <td>
                <p>
                    Chairman, GATE<br />
                    Indian Institute of Technology Delhi, <br />Hauz Khas, New Delhi 110 016
                </p>
            </td>
            <td>
                011-26591750<br />011-26596137<br />
                011-26591749</p>
            </td>
            <td>chrgate@admin.iitd.ac.in</p></td>
        </tr>
        <tr>
            <td><p>4</p></td>
            <td>
                <p>
                    Chairman, GATE<br />
                    Indian Institute of Technology Guwahati,<br />
                    Guwahati 781 039
                </p>
            </td>
            <td>
                0361-2582751<br />
                0361-2582755</p>
            </td>
            <td>gate@iitg.ac.in   </p></td>
        </tr>
        <tr>
            <td><p>5</p></td>
            <td>
                <p>
                    Chairman, GATE<br />
                    Indian Institute of Technology Kanpur,<br />
                    Kanpur 208 016
                </p>
            </td>
            <td>0512-2597412</p></td>
            <td>gate@iitk.ac.in</p></td>
        </tr>
        <tr>
            <td><p>6</p></td>
            <td>
                <p>
                    Chairman, GATE<br />
                    Indian Institute of Technology Kharagpur, <br />Kharagpur 721 302
                </p>
            </td>
            <td>
                03222-282091<br />
                03222-282095</p>
            </td>
            <td>gate@adm.iitkgp.ac.in </p></td>
        </tr>
        <tr>
            <td><p>7</p></td>
            <td>
                <p>
                    Chairman, GATE<br />
                    Indian Institute of Technology Madras,<br />
                    Chennai 600 036
                </p>
            </td>
            <td>044-22578200</p></td>
            <td>gate@iitm.ac.in</p></td>
        </tr>
        <tr>
            <td><p>8</p></td>
            <td>
                <p>
                    Chairman, GATE<br />
                    Indian Institute of Technology Roorkee,<br />
                    Roorkee 247 667
                </p>
            </td>
            <td>01332-284531</p></td>
            <td>gate@iitr.ac.in</p></td>
        </tr>
    </table>
    <p>&nbsp;</p>
</div>



{% endblock content %}

