{% extends "layout.html" %}
{% block content %}
        <div class="contentTitle">
            <h1> Important Dates</h1>
        </div>
        <div style="margin-left: 0px; width: 950px;" class="contentText">
            <br><br />
            <table id="gateTable" border="1" cellspacing="0" cellpadding="2" width="95%">
                <tr>
                    <th><p><strong>Activity</strong></p></td>
                    <th><p align="center"><strong>Day</strong></p></td>
                    <th><p><strong>Date</strong></p></td>
                </tr>
                <tr>
                    <td width="59%"><p>GATE Online Application Processing System (GOAPS) Website Opens</p></td>
                    <td width="14%"><p align="center">Tuesday</p></td>
                    <td width="26%"><p>3rd September 2019</p></td>
                </tr>
                <tr>
                    <td width="59%"><p>Closing Date for Submission of (Online) Application (through Website)  </p></td>
                    <td width="14%"><p align="center">Saturday</p></td>
                    <td width="26%"><p align="center">28th &nbsp;September 2019</p></td>
                </tr>
                <tr>
                    <td width="59%"><p>Extended Closing Date for Submission of (Online) Application (through Website) </p></td>
                    <td width="14%"><p>Saturday</p></td>
                    <td width="26%"><p>5th October 2019</p></td>
                </tr>
                <tr>
                    <td width="59%"><p>Last Date for Requesting Change of Examination City (an additional fee will be applicable)</p></td>
                    <td width="14%"><p align="center">Monday</p></td>
                    <td width="26%"><p align="center">25th November 2019</p></td>
                </tr>
                <tr>
                    <td width="59%"><p>Admit Card will be available in the Online Application Portal (for printing)</p></td>
                    <td width="14%"><p align="center">Friday</p></td>
                    <td width="26%"><p align="center">3rd&nbsp; &nbsp;January 2020</p></td>
                </tr>
                <tr>
                    <td width="59%">
                        <p>
                            GATE 2020 Examination<br />
                            Forenoon: 9:30 AM to 12:30 PM (Tentative)<br />
                            Afternoon: 2:30 PM to 5:30 PM (Tentative)
                        </p>
                    </td>
                    <td width="14%">
                        <p align="center">
                            Saturday<br />
                            Sunday<br />
                            Saturday<br />
                            Sunday
                        </p>
                    </td>
                    <td width="26%">
                        <p align="center">
                            1st February 2020<br />
                            2nd February 2020<br />
                            8th February 2020<br />
                            9th February 2020
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="59%"><p>Announcement of the Results in the Online Application Portal</p></td>
                    <td width="14%"><p align="center">Monday</p></td>
                    <td width="26%"><p align="center">16th March 2020</p></td>
                </tr>
            </table>

        </div>

        <p>&nbsp;</p>

        <div id="footer">Copyright : GATE 2020, IIT Delhi</div>



{% endblock content %}